:root{
    --main-color:rgb(255, 0, 0);
}
*{
    text-decoration:none;
}
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    overflow: hidden;
}
header a {
    font-size: 20px;
    padding-left: 3px;
    border-left:2px solid var(--main-color) ;
    border-bottom: 2px solid var(--main-color) ;
    border-bottom-left-radius:7px ;
    color: var(--main-color);
    transition: .3s;
}
header a:hover{
    transform: scale(1.3);
}
section{
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction:row;
    align-items: center;
    position: relative;
    overflow: hidden;
}
section img{
    height: 500px;
    margin-left: 100px;
    margin-top: -10px;
    border-radius: 50%;
}
section h1{
    color: white;
    transform: translate(50px, -200px);
    font-size: 50px;
    text-wrap: nowrap;
}
section span{
    color: var(--main-color);
}
section p{
    color: white;
    transform: translate(-150px, -90px);
    font-size: 20px;
}
section .social{
    position: absolute;
    transform: translate(570px, 100px);
    height: 10%;
    width: 30%;
}
section .social a i{
    font-size: 50px;
    margin-left: 20px;
    color: var(--main-color);
    transition: .5s;
}
i:hover{
    
    transform: scale(1.3);
    box-shadow: 3px 3px 10px var(--main-color);
}
@media (width:370px)  {
    section{
        background-color: aliceblue;
    }
}
@media (max-width:700px) {
    section{
        flex-direction: column;
    }
    section img{
        transform: translateX(-40px);
        width: 300px;
    }
    section h1{
        transform: translate(0px, -150px);
        font-size: 47px;
    }
    .p{
        width: 80%;
    }
    section p{
        transform: translate(-150px, -90px);
        max-width: 100%;
    }
    section .social{
        transform: translate(100px , 900px);
    }
    section .social a i{
        transform: translate(50px ,50px);
        font-size: 30px;
        text-wrap: nowrap;
    }
}
@media (max-width:1000px) {
    section{
        flex-direction: column;
    }
    section img{
        transform: translate(-40px , 50px);
    }
    section h1{
        transform: translate(20px, -150px);
    }
    section .p{
    transform: translate(170px, -0px);
    }
    section .social{
        transform: translate(0px, 700px);
        width: 400px;
    }
}